<!-- Это значит, что данный шаблон является расширением base.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Добро пожаловать в Tea-Short {% endblock %}</h1>
    {% for post in posts %}
        <!-- Сюда нужно вставить блок для отображения картинки -->
        {% if post['photo_src'] %}
            <img class="img-thumbnail" src="{{ post['photo_src'] }}" alt="Фотография футболки">
        {% endif %}
        <a href="{{ url_for('.get_post_page', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <!-- Сюда нужно вставить блок для отображения описания -->
        <p>{{ post['content'] }}</p>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('.edit_post', id=post['id']) }}">
            <span class="badge badge-warning">Редактировать</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}